@import "../../assets/styles/variables";

.chart {
  flex: 4;
  border-radius: $primary-border-radius;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.27);
  padding: 10px;
  color: $text-gray-color;

  .title {
    margin-bottom: 15px;
  }

  .chartGrid {
    stroke: #eee;
  }
}
