@import "../../assets/styles/variables";

.list {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;

    .container {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.27);
      border-radius: $primary-border-radius;
    }
  }
}
