@import "../../assets/styles/variables";

.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(226, 226, 226);
  min-height: 100vh;
  background-color: $mode-light-color;

  .top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(226, 226, 226);

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: $primary-color;
    }
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: $text-gray-color;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 3px;
        cursor: pointer;

        &:hover {
          background-color: $hover-light-color;
        }

        .icon {
          font-size: 22px;
          color: $primary-color;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #555;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 10px;

    .color-option {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid $primary-color;
      margin-right: 5px;
      cursor: pointer;

      &:nth-child(1) {
        background-color: $mode-light-color;
      }
      &:nth-child(2) {
        background-color: $mode-dark-color;
      }
      &:nth-child(3) {
        background-color: $mode-black-color;
      }
    }
  }
}
