//Main
// $primary-color: #e01361;
$primary-color: #8c38ff;

// Success, Warning, Error, Info
$success-color: #2ec036;
$warning-color: #ffa726;
$error-color: #f44336;
$info-color: #21acec;

//Mode
$mode-light-color: #ffffff;
$text-light-color: #ccc;

$mode-dark-color: #272727;
$container-dark-color: #222;

$mode-black-color: #000;
$container-black-color: #121212;

//Hover
$hover-light-color: #fdedf3;

//Text
$text-gray-color: #999;

//Border
$primary-border-radius: 0.5rem;
$input-border: 0.5px solid $text-gray-color;
$input-border-radius: 0.5rem;

//Icons
$icon-light-color: #e01463;
$icon-background-color: #fdedf3;
$test: rgb(0, 132, 255);
