//Main
$primary-color: #e01361;

// Success, Warning, Error, Info
$success-color: #66bb6a;
$warning-color: #ffa726;
$error-color: #f44336;
$info-color: #29b6f6;

//Mode
$mode-light-color: #ffffff;
$mode-dark-color: #272727;
$mode-black-color: #000;

//Hover
$hover-light-color: #fdedf3;

//Text
$text-gray-color: #999;

//Border
$primary-border-radius: 0.5rem;
$input-border: 0.5px solid $text-gray-color;
$input-border-radius: 0.5rem;

//Icons
$icon-light-color: #e01463;
$icon-background-color: #fdedf3;
$test: rgb(0, 132, 255);
